
body {
  background-color: lightgrey;
  margin-left: 30px;
}

.containerDiv {
  width: 400px;
}

.input {
  width: 400px;
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
}

button {
  margin-right: 15px;
}
